  body {
    background: linear-gradient(to right, #f5dd9c, #a75f01);
  
  }
.container{
padding-top: 15rem;
  width: 100%;
}

#display{
  width: 100%;
  font-size: 80px;
  text-align: center;
  margin: 0px auto;
  color: rgb(0, 0, 0);
}

.btn{
  text-align: center;

}